Handling of double-quotes to comply with RFC 4180

I have two CSV files which are processed as true when they should be failing for not complying with RFC 4180.

In the following sample of the file, the double quotes used inside a qualified row should be appended with a double-quote

> intent,steps
> abc,"{ Step 1": Please "open any application }"
> def,"{ Step 2: Please use the application }"

In the following sample of another file, double-quotes need to be appeneded to the second column since it attempts to use double-quotes in it

> intent,steps
> abc,{ Step 1": Please open "any application }
> def,{ Step 2: Please use the application }

Both the above scenarios make the file invalid but is processed by super-csv as valid. Is there a particular reason why support for such files was added? Is it a bug?

Please share your opinion on the question, I am willing to try adding a fix for the same if it is a confirmed as a bug. 

Hi, @abhishek-nandgaonkar 
* first:
```
intent,steps
abc,"{ Step 1": Please "open any application }"
def,"{ Step 2: Please use the application }"
```
This is not in accordance with RFC 4180 section 2.7(If double-quotes are used to enclose fields, then a double-quote appearing inside a field must be escaped by preceding it with another double quote).
This problem is same as ISSUE #77 . There is a PR #194 to fix them.


* second:
```
intent,steps
abc,{ Step 1": Please open "any application }
def,{ Step 2: Please use the application }
```
RFC 4180 section 2.5(If fields are not enclosed with double quotes, then double quotes may not appear inside the fields). May, so it isn"t a problem.