Double quote within double quote should fail validation

First, thank you for the wonderful and time saving library.

I ran into a csv file that contained double-quote within double-quotes in the header. For example:

"customer", "request-"per"-second"

super-csv ignored the quotes around per and parsed the headers as:  customer, request-per-second
I would expect the library to fail this csv as invalid since the proper way to use double-quote within double quote is to append it with another quote ( "request-""-per""-second" ), which is handled fine by super-csv.

Please see RFC 4180 section 2.7 

Thank you,
Harel

One concern with this is that the library will no longer read data that it used to support reading, so it could appear as a regression to some users.

Are we willing to tighten our input data specification in a way that might break some of our users?

@ash211 we can always put more configuration flags in the configuration class ;)

@harel-e Consider using [RejectNonEscapedQuotesTokenizer.java](https://github.com/TheNilesh/super-csv/blob/master/super-csv/src/main/java/org/supercsv/io/RejectNonEscapedQuotesTokenizer.java)

Hello,

I am facing the same dilemma while importing a CSV, I need to add validations to ensure that the uploaded file complies with all rules set in RFC 4180. 

Since this was reported in 2015, and is still Open, I am curious if a fix was ever merged? Is there a plan to fix this bug in the near future? 

Or alternatively, is there a workaround to go by with in the meantime?

@harel-e @TheNilesh @kbilsted 